<template>
  <div class="menu">
    <menu-item v-for="(link,index) in links" v-bind:key="index" :location="link.location"
               :title="link.title"></menu-item>
  </div>
</template>

<script>
  import MenuItem from './MenuItem';

  export default {
    name: "Menu",
    props: ['links'],
    components: {
      'menu-item': MenuItem
    }
  }
</script>

<style scoped lang="scss">
  $color-silver: #8e8e8e;
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
      margin-left: 10px;
      margin-right: 10px;
      border: 2px solid transparent;
      cursor: pointer;
      font-weight: 600;
      &:hover {
        border-bottom: 2px solid $color-silver;
      }
    }
  }
</style>
