<template>
  <div class="card">
    <div class="title">
      {{session.title}}
    </div>
    <div class="body">
      <div class="date">{{session.date}}</div>
      <div class="description">{{session.description}}</div>
      <div class="info">{{session.available_tickets}} left</div>
      <button class="button" v-if="session.available_tickets > 0">
        BOOK
      </button>
      <button class="button sold" v-else>
        SOLD
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Session",
    props: ['session']
  }
</script>

<style scoped lang="scss">
  $color-black: #000000;
  $color-white: #ffffff;
  $color-silver: #8e8e8e;

  .card {
    margin: 1px;
    text-align: center;
    font-family: adobe-caslon, sans-serif;
    .title {
      background-color: $color-black;
      color: $color-white;
      line-height: 46px;
      font-size: 24px;
    }
    .body {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $color-white;
      height: 240px;
      .date {
        display: block;
        font-size: 46px;
      }
      .description {
        display: block;
        margin-top: 10px;
        font-size: 16px;
        font-family: proxima-nova, sans-serif;
      }
      .info {
        font-size: 14px;
        color: $color-silver;
        align-self: flex-start;
        font-family: proxima-nova, sans-serif;
      }
      .button {
        height: 40px;
        line-height: 48px;
        cursor: pointer;
        background-color: $color-black;
        color: $color-white;
        border: none;
        font-family: adobe-caslon, sans-serif;
        font-size: 24px;
        &:hover {
          background-color: $color-silver;
        }
        &.sold {
          background-color: $color-white;
          border: 1px solid $color-black;
          color: $color-black;
        }
      }
    }
  }
</style>
