<template>
  <div class="logo">
    <img :src="source" alt="">
  </div>
</template>

<script>
  export default {
    name: "Logo",
    props: ['source']
  }
</script>

<style scoped lang="scss">
  $color-white: #ffffff;
  $color-black: #000000;
  .logo {
    height: 240px;
    background-color: $color-white;
    border: 1px solid $color-black;
    margin-left: 30px;
    img {
      height: 240px;
      padding: 20px;
      @media screen and (max-width: 786px) {
        height: 48px;
        padding: 2px;

      }
    }
    @media screen and (max-width: 786px) {
      height: 48px;
      background-color: transparent;
      border: none;
    }
  }
</style>
