<template>
  <div class="navigation" :class="{'shown': isActive}">
    <logo :source="source"></logo>
    <menu-list :links="links"></menu-list>
    <phone :phone="contact"></phone>
    <button class="hamburger hamburger--collapse"
            :class="{'is-active': isActive}"
            type="button"
            @click="toggleMenu">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</template>

<script>
  import Logo from './Logo';
  import MenuList from './menu/MenuList';
  import Phone from './Phone';

  export default {
    name: "Navbar",
    props: ['source', 'contact', 'links'],
    components: {
      logo: Logo,
      menuList: MenuList,
      phone: Phone
    },
    data: () => {
      return {
        isActive: false,
      }
    },
    methods: {
      toggleMenu() {
        this.isActive = !this.isActive;
      }
    }
  }
</script>

<style scoped lang="scss">

  $color-white: #ffffff;
  $color-black: #000000;
  .navigation {
    background-color: $color-white;
    border: 1px solid $color-black;
    display: flex;
    position: fixed;
    height: 48px;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: space-between;
    font-family: proxima-nova, sans-serif;
    @media screen and (max-width: 786px) {
      .menu, .phone {
        display: none;
      }
      &.shown {
        height: 280px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .menu, .phone {
          display: block;
        }
        .logo {
          margin-left: 0;
          img {
            height: 90px;
          }
        }
        .menu {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 160px;
        }

      }
    }

    .hamburger {
      display: none;
      height: 48px;
      @media screen and (max-width: 786px) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
      }
    }

  }

</style>
