<template>
  <div class="phone">
    <span class="icon"></span>
    <span class="title">
      {{phone}}
    </span>
  </div>
</template>

<script>
  export default {
    name: "Phone",
    props: ['phone']
  }
</script>

<style scoped lang="scss">
  .phone {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    .icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      background: url("/assets/css/img/phone-icon.png") no-repeat;
      background-size: contain;
      align-self: center;
    }
    @media screen and(max-width: 786px) {
      font-size: 14px;
      .icon {
        width: 35px;
        height: 35px;
        float: left;
        margin-top: -6px;
      }
      .title {
        display: inline-block;
        float: right;
        cursor: default;
      }
    }
  }
</style>
