/*
** Getting our hamburgers
*/
@import "./lib/hamburgers.min.css";
/*
** Variables
*/
$color-black: #000000;
$color-white: #ffffff;
$color-silver: #8e8e8e;

/*
** Preparation
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: $color-black;
}

/*
** Fonts
*/
@font-face {
  font-family: proxima-nova;
  src: url("~assets/css/fonts/ProximaSansRegular Regular.ttf");
}

@font-face {
  font-family: adobe-caslon;
  src: url("~assets/css/fonts/Adobe Caslon Pro Regular.ttf");
}

/*
** Clearfix
*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*
** Landing page components ~ for a while
*/
.main {
  height: 480px;
  background: $color-black;

  img {
    width: 100%;
    height: 480px;
    object-fit: cover;
  }
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $color-black;
  .row {
    width: 100%;
    margin: 0;
    padding: 10px;
    .col {
      width: 14.285%;
      float: left;
      @media screen and (max-width: 1024px) {
        width: 25%;
        margin-bottom: 10px;
      }
      @media screen and (max-width: 786px) {
        width: 50%;
        margin-bottom: 10px;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
