<template>
  <div>
    <navbar :contact="phone" :source="source" :links="links"></navbar>
    <section class="main">
      <img src="~/assets/css/img/bg.jpg" alt="">
    </section>
    <div class="container clearfix">
      <div class="row">
        <div class="col"
             v-for="(session, index) in sessions.slice(0,7)"
             :key="index">
          <session :session="session"></session>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Session from '../components/Session';
  import Navbar from '../components/navigation/Navbar';

  export default {
    async asyncData({app}) {
      const sessions = await app.$axios.get(`${process.env.apiUrl}/sessions`);
      const source = await app.$axios.get(`${process.env.apiUrl}/logo`);
      const phone = await app.$axios.get(`${process.env.apiUrl}/phone`);
      return {
        sessions: sessions.data.data,
        source: source.data.data.logo,
        phone: phone.data.data.phone_number
      }
    },
    data() {
      return {
        links: [
          {url: 'book', title: 'Book'},
          {url: 'contact', title: 'Contact US'}
        ]
      }
    },
    components: {
      session: Session,
      navbar: Navbar
    }
  }
</script>

